.wrapper {
  position: relative;
  width: 100%;
  height: 460px;
  background-color: #dcdcdc;
  background-image: url("/topwrap.jpg");
  background-size: cover;
  background-position: 50% 0%;
  background-position: top;
}

.bg {
  position: absolute;
  width: 100%;
  height: 460px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3.5em;
  color: #fff;
  letter-spacing: 0.5em;
}
